body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  overflow-x: hidden;

  background: #fcfcfc;
  background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 80%, rgba(255, 97, 97, 0.534) 100%);
}

* {
    box-sizing: border-box;
}

.parallax {
        /* The image used */
        background: url("trinitysaintdavidenhanced.jpeg") no-repeat;
        background-size: cover;
        background-position: center;

        /* Set a specific height */
        min-height: 1200px;

        width: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;

        filter: brightness(40%);

        z-index: -1;
    }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(177, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 1000;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.925);
}

.logo {
    font-size: 1.45rem;

    font-weight: 700;

    color: white;

    text-decoration: none;

    font-family: "DM Sans", serif;
}

.navbar a {
    position: relative;

    font-size: 1.1rem;

    font-weight: 400;

    color: white;

    text-decoration: none;

    margin-left: 20px;

    font-family: "DM Sans", sans-serif;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;

    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.rectangleLocation {
    display: block;

    margin-left: auto;
    margin-right: auto;

    height: 27.5px;
    width: 255px;

    background-color: #b8151569;

    border-radius: 25px;

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */

    border: 2px solid #c70000;

    filter: drop-shadow(0px 5px 7px rgba(26, 26, 26, 0.863));
}

.mainPage_logo {
    display: block;

    z-index: 5;
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;

    filter: brightness(120%);
    filter: drop-shadow(0px 5px 50px rgb(26, 26, 26));
    filter: drop-shadow(0px 5px 50px rgb(26, 26, 26));
    filter: drop-shadow(0px 5px 50px rgb(26, 26, 26));
    filter: drop-shadow(0px 5px 50px rgb(26, 26, 26));
    filter: drop-shadow(0px 5px 50px rgb(26, 26, 26));
}

.mainDescription {
    text-align: center;
    margin-top: -5px;

    color: rgb(255, 255, 255);

    z-index: 6;

    font-size: 1.4rem;

    font-family: "DM Sans", serif;
    letter-spacing: 0.25px;

    filter: drop-shadow(0px 5px 7px rgba(26, 26, 26, 0.863));
}

.shrink-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-right: 20px;
    padding-left: 20px;

    border-radius: 12.5px;

    font-size: 1.1rem;

    background-color: rgb(233, 19, 19);

    color: white;

    font-family: "DM Sans", serif;
    

    appearance: none;
    -webkit-appearance: none;

    
    cursor: pointer;
    
    border: none;

    transition: transform 0.1s ease, background-color 0.2s ease;

    filter: drop-shadow(0px 5px 7px rgba(26, 26, 26, 0.863));

    margin-top: -3px;
}

.mainPage_group {
    position: relative;
    z-index: 2;

    margin-top: -930px;
}

.locationText {
    text-align: center;

    display: block;
    

    font-size: 0.9rem;

    font-family: "DM Sans", sans-serif;

    font-weight: 400;

    color: white;
}

.shrink-btn:active {
        transform: scale(0.9); /* Shrinks to 90% of original size */
    }

    /* Optional hover effect */
.shrink-btn:hover {
    background-color: #b81515;
}

.generalInfo_section {
    width: 100%;
    background-color: rgba(255, 204, 204, 0);
    
    /* This pushes it back down below the parallax area */
    margin-top: 1005px; 

    position: relative;

    z-index: 5;
}

.learnMore_button {
    padding: 10px 17.5px;

    color: black;

    background-color: #c5131300;

    border: 1px solid #cccccc;

    border-radius: 7.5px;

    font-family: "DM Sans", sans-serif;

    font-weight: 500;

    font-size: 1.1rem;

    position: relative;

    left: 27.75rem;

    top: -840.5px;

    transition: transform 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;

    box-shadow: 0px 0px 0px #b81515;
}

.learnMore_button:hover {

    color: white;

    border: 1px solid #c70000;

    background-color: #c70000;

    box-shadow: 0px 0px 7.5px #b81515;

    cursor: pointer;
}

.learnMore_button:active {
    transform: scale(0.9);
}

.departmentSection {
    width: 100%;
    height: 350px;

    background-color: #ffcaca;

    position: relative;

    top: -740px;
}

.newsCard {
    width: 300px;
    height: 420px;

    background-color: #b81515;

    border-radius: 20px;

    padding: 20px;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.37);
    
    color: white;
}

.newsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 100px;

    position: relative;
    top: -500px;
}